<div class="bg-body-secondary">
    <div class="grid text-center row  container-fluid" style="padding-top: 15%;">
      <div class="g-col-6 col-md-6 pt-5 px-5">
        <div id="tit" style="margin-top: 20px;">
          <h2>MyPark</h2>
          <p>
            MyPark est une agence de location rapide des automobiles n'importe ou que vous soyez.
            Vous aurez L'application myPark est disponible 24H/24 et 7 Jour/7.
          </p>
          <button class="rounded">A savoir plus</button>
        </div>
      </div>
      <div class="g-col-6 col-md-6">
        <div id="sideimgs">
          <img src="../../../../assets/image/2.png" alt="" class="w-75">
        </div>
      </div>
    </div>
  </div>
    <!--End Of Header-->
  <!-- </div> -->
  <!--End OF Header-->
  <section class="article">
    <div class="container py-5">
      <h1 class="text-center">VEHICULES POUR LA LOCATION</h1><br>
      <div class="row">
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/1.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a>AIR CONDITION</a>
            </small>
            <div class="d-grid gap-2 mt-3"><button class="btn btn-lg btn-outline-success fw-bold" data-bs-toggle="modal"
                data-bs-target="#Reserver">RESERVER</button>
            </div>
          </div>
        </div>
        <!-- -------------Formulaire Pour reserver--------------- -->
        <div class="modal fade" id="Reserver" tabindex="-1" aria-labelledby="Reserver" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #155263;">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body">
                <h3 class="modal-title text-white text-center pb-3" id="ReserverLabel">Reserver un vehicule pour la
                  location</h3>
                <form action="">
                  <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Date de depart</label>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Date de retour</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Nombre de jour</label>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Destination / Quartier</label>
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto my-4">
                    <button class="btn btn-outline-success btn-lg fw-bold" type="button">Valider</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- ---------------------------- -->

        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/2.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/3.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/4.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/1.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/2.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end Of New Product-->

  <section id="services">
    <div class="container">
      <h1> Services </h1>
      <div class="row services">
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <h3>Client satisfait</h3>
          <h3>
            2000 +
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-truck"></i>
          </div>
          <h3>Vehicules diponibles</h3>
          <h3>
            124 +
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-university"></i>
          </div>
          <h3>Villes</h3>
          <h3>
            7 +
          </h3>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-car"></i>
          </div>
          <h3>Nouveautés</h3>
          <h3>
            50 +
          </h3>
        </div>
      </div>
    </div>
  </section>
  <!--End Of Services-->
  <section class="article">
    <div class="container py-5">
      <h1 class="text-center">VEHICULES A VENDRE</h1><br>

      <div class="row">
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/9.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-lg btn-outline-success fw-bold" data-bs-toggle="modal"
                data-bs-target="#acheter">ACHETER</button>
            </div>
          </div>
          <!-- -------------Formulaire Pour reserver--------------- -->
          <div class="modal fade" id="acheter" tabindex="-1" aria-labelledby="acheter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" style="background-color: #155263;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                  <h1 class="modal-title text-white text-center pb-3" id="acheterLabel">Prendre un rendez-vous pour
                    l'achat</h1>
                  <form action="">
                    <div class="row">
                      <div class="form-floating mb-3 col-md-12">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Date de rendez vous</label>
                      </div>
                      <!-- <div class="form-floating mb-3 col-md-6">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Date de retour</label>
                          </div> -->
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto my-4">
                      <button class="btn btn-outline-success btn-lg fw-bold" type="button">Valider</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ---------------------------- -->
        </div>
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/10.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
          <div class="card">
            <img src="../../../../assets/image/product/11.jpg" alt="" class="img-fluid">
            <p class="pt-3"><a href="#">DODGE RAM 1500</a></p>
            <span id="cost">2000$</span>
            <span id="name">HATCHBACK</span>
            <small>
              <a href="#">2021</a>
              <a href="#">MANUAL</a>
              <a href="#">AIR CONDITION</a>
            </small>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>