<section class="info_section ">

    <div class="container">
      <div class="info_top ">
        <div class="row ">
          <div class="col-md-6 col-lg-4 info_col">
            <div class="info_form">
              <h4>
                NEWSLETTER
              </h4>
              <form action="">
                <input type="text" placeholder="Enter votre Email" />
                <button type="submit">
                  Connecter
                </button>
              </form>
              <div class="social_box">
                <div class="socialLink">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a><br>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a><br>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a><br>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 info_col ">
            <div class="info_detail">
              <h4>
                Apropos de nous
              </h4>
              <p>
                MyPark est une agence de location rapide des automobiles n'importe ou que vous soyez.
                Vous aurez
                L'application myPark est disponible 24H/24 et 7 Jour/7.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 info_col">
            <h4>
              Contactez nous
            </h4>
            <p>
              Réjoingnez nous pour vos besoins en automobile.
            </p>
            <div class="contact_nav">
              <div class="p-1">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Daoudabougou
                </span>
              </div>
              <div class="p-1">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +223 83878125
                </span>
              </div>
              <div class="p-1">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  mypark2023@gmail.com
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  <footer class="text-center fs-6">copyright 2023 mypark tout droit reserver</footer>

  </section>